@media screen and (min-width:1200px){

    .wrapper {
        max-width: 100%;
        height: auto;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        box-sizing: border-box;
    }

    h2 {
        text-transform: uppercase;
        color: #2d3950;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
    }
 
    /* Header */

    .wrapper__header {
        background: #f6f9f9;
    }
    
    .header {
        max-width: 1200px;
        margin: 0 auto;
        min-height: 52px;
        padding: 20px 30px 0 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        display: block;
        width: 85px;
        height: 30px;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
        color: #2d3950;
    }

    .header__toggle {
        display: none;
    }


    /* menu */

    .header__menu {
        width: 62%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .header__menu li {
        list-style-type: none;
        padding: 10px;
        border-top: none;
    }

    .header__menu li:last-child {
        border-bottom: none;
    }

    .header__menu li:hover a {
        color: #1c9ded; 
    }

    .header__menu a {
        text-transform: uppercase;
    }


    /* Banner */

    .wrapper__banner {
        background: url(../img/banner.jpg) no-repeat;
        background-size: cover;
    }
    
    .banner {
        max-width: 1200px;
        height: 650px;
        margin: 0 auto;
        background: none;
    }

    .banner__logo {
        width: 150px;
        height: auto;
        margin: 0 auto;
        padding: 115px 0;
        font-size: 66px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }

    .banner__title,
    .banner__phone {
        width: 500px;
        height: auto;
        margin: 0 auto;
        color: #ffffff;
        text-align: center;
    }

    .banner__title {
        font-size: 42px;
        padding-bottom: 10px;
    }

    .banner__phone {
        font-size: 28px;
        margin-bottom: 100px;
    }
    
    
    /* Advantages */

    .wrapper__advantages {
        background: #f6f9f9;
    }
    
    .advantages {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    .advantages div {
        display: flex;
        justify-content: space-between;
    }

    .advantages__block p {
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
    
    
    /* Course */

    .wrapper__course {
        background: #ffffff;
    }
    
    .course {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    .course div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .course__school {
        width: 30%;
        height: auto;
        margin: 20px 0;
        background: #f6f9f9;
        padding: 15px 0;
        overflow: hidden;
        cursor: pointer;
    }
    
    .school__img {
        display: block;
    }
    
    
    /* questionAnswer */

    .wrapper__questionAnswer {
        background: #f6f9f9;
    }
    
    .questionAnswer {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 250px;
        box-sizing: border-box;
    }

    .questionAnswer__read {
        background: #f6f9f9;
        margin-bottom: 20px;
    }

    table {
        background: white;
    }

    .read__answer {
        background: white;
        border: 1px solid #2d3950;
        padding: 10px 20px;
        color: #2d3950;
        line-height: 1.5;
        display: none;
    }
    
    
    /* News */

    .wrapper__news {
        background: #ffffff;
    }
    
    .news {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    .news__data {
        width: 30%;
        height: auto;
        margin: 0;
        cursor: pointer;

        border: 1px solid red;
    }

    .data__img {
        width: 100%;
        height: 150px;

        border: 1px solid blue;
    }
    
    
    /* AboutUs */

    .wrapper__aboutUs {
        background: #f6f9f9;
    }
    
    .aboutUs {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    
    /* Map */

    .map iframe {
        width: 100%;
        height: 400px;
    }
    
    
    /* Footer Top */

    .wrapper__footerTop {
        background: #2d3950;
    }
    
    .footerTop {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
        display: flex;
        justify-content: space-around;
    }

    .location__img {
        width: 100%;
        height: 50px;
        background: url(../img/footer-icon1.png) no-repeat 50% 50%;
        background-size: cover;
        margin: 0 auto 20px auto;
    }

    .phone__img {
        width: 100%;
        height: 50px;
        background: url(../img/footer-icon2.png) no-repeat 50% 50%;
        background-size: cover;
        margin: 0 auto 20px auto;
    }
    
    
    /* Footer Bottom */

    .wrapper__footerBottom {
        background: #f6f9f9;
    }
    
    .footerBottom {
        max-width: 1200px;
        height: auto;
        background: #f6f9f9;
        margin: 0 auto;
        padding: 20px 30px;
    }

    
    
    /* ----- Template Contacts ----- */
    
    /* Contacts */
    
    .contacts {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 20px 30px;
    }
    
    .contacts__info {
        width: 55%;
        height: auto;
        margin: 0 auto;
    }
    
    
    /* ----- Template Price ----- */
    
    .wrapper__price {
        background: #ffffff;
    }
    
    .price {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 20px 30px;
    }
    
    /* Скриваю таблицю для малих екранів */
    .price__tableSmall {
        display: none;
    }

    /* Таблиця для великих екранів */
    .price__tableBig {
        display: block;
        width: 100%;
    }
    
    .price td,th {
        border: 1px solid #2d3950;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }
    
    .price th {
        padding: 30px;
        background: #1c9ded;
        color: #ffffff;
    }
    
    .price td {
        padding: 15px;
        color: #2d3950;
        line-height: 1.5;
    }
    
    /* Price Contact */
    .price__contact {
        padding: 20px 0;
        margin-top: 20px;
        text-align: center;
    }
    
    .price__contact p {
        font-size: 18px;
    }
    
    .price__contact h2 {
        margin: 5px 0;
    }
    
    /* btn */
    .contact__btn {
        display: block;
        width: 200px;
        padding: 20px 0;
        color: #ffffff;
        background: #1c9ded;
        border: 1px solid #1c9ded;
        margin: 20px auto 0 auto;
        cursor: pointer;
    }
    
}