@media screen and (min-width:1200px){

    .wrapper {
        max-width: 100%;
        height: auto;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        box-sizing: border-box;
    }

    h2 {
        text-transform: uppercase;
        color: #2d3950;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
    }
 
    /* Header */

    .wrapper__header {
        background: #f6f9f9;
    }
    
    .header {
        max-width: 1200px;
        margin: 0 auto;
        min-height: 52px;
        padding: 20px 30px 0 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        display: block;
        width: 149px;
        height: 37px;
        background: url(../img/logo.png) no-repeat;
        background-size: cover;
        text-decoration: none;
    }

    .header__toggle {
        display: none;
    }


    /* menu */

    .header__menu {
        width: 62%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .header__menu li {
        list-style-type: none;
        padding: 10px;
        border-top: none;
    }

    .header__menu li:last-child {
        border-bottom: none;
    }

    .header__menu li:hover a {
        color: #1c9ded; 
    }

    .header__menu a {
        text-transform: uppercase;
    }


    /* Banner */

    .wrapper__banner {
        background: url(../img/banner.jpg) no-repeat;
        background-size: cover;
    }
    
    .banner {
        max-width: 1200px;
        height: 650px;
        margin: 0 auto;
        background: none;
    }

    .banner__logo {
        width: 150px;
        height: auto;
        margin: 0 auto;
        padding: 115px 0;
        font-size: 66px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }

    .banner__title,
    .banner__phone {
        width: 500px;
        height: auto;
        margin: 0 auto;
        color: #ffffff;
        text-align: center;
    }

    .banner__title {
        font-size: 42px;
        padding-bottom: 10px;
    }

    .banner__phone {
        font-size: 28px;
        margin-bottom: 100px;
    }
    
    
    /* Advantages */

    .wrapper__advantages {
        background: #f6f9f9;
    }
    
    .advantages {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    .advantages div {
        display: flex;
        justify-content: space-between;
    }

    .advantages__block p {
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
    
    
    /* Course */

    .wrapper__course {
        background: #ffffff;
    }
    
    .course {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    .course div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .course__school {
        display: block;
        width: 30%;
        height: auto;
        margin: 20px 0;
        background: #f6f9f9;
        padding: 15px 0;
        overflow: hidden;
        cursor: pointer;
    }
    
    .school__img {
        display: block;
    }
    
    
    /* questionAnswer */

    .wrapper__questionAnswer {
        background: #f6f9f9;
    }
    
    .questionAnswer {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 250px;
        box-sizing: border-box;
    }

    .questionAnswer__read {
        background: #f6f9f9;
        margin-bottom: 20px;
    }

    table {
        background: white;
    }

    .read__answer {
        background: white;
        border: 1px solid #2d3950;
        padding: 10px 20px;
        color: #2d3950;
        line-height: 1.5;
        display: none;
    }
    
    
    /* News */

    .wrapper__news {
        background: #ffffff;
    }
    
    .news {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    .news div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .news__data {
        display: block;
        width: 30%;
        height: auto;
        margin: 0;
        cursor: pointer;
    }
    
    .news__data p {
        display: block;
        width: 100%;
        text-align: center;
        color: white;
    }
    
    .news__data p:nth-child(2) {
        min-height: 50px;
    }

    .data__img {
        display: block;
        width: 100%;
        height: 200px;
    }
    
    .data__more {
        width: 90%;
        margin: 10px auto 0 auto;
        padding: 10px 0;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        border: 1px solid #1c9ded; 
        transition: 0.5s;
    }
    
    
    /* AboutUs */

    .wrapper__aboutUs {
        background: #f6f9f9;
    }
    
    .aboutUs {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
    }
    
    
    /* Map */

    .map iframe {
        width: 100%;
        height: 400px;
    }
    
    
    /* Footer Top */

    .wrapper__footerTop {
        background: #2d3950;
    }
    
    .footerTop {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 40px 30px;
        display: flex;
        justify-content: space-around;
    }

    .location__img {
        width: 100%;
        height: 50px;
        background: url(../img/footer-icon1.png) no-repeat 50% 50%;
        background-size: cover;
        margin: 0 auto 20px auto;
    }

    .phone__img {
        width: 100%;
        height: 50px;
        background: url(../img/footer-icon2.png) no-repeat 50% 50%;
        background-size: cover;
        margin: 0 auto 20px auto;
    }
    
    
    /* Footer Bottom */

    .wrapper__footerBottom {
        background: #f6f9f9;
    }
    
    .footerBottom {
        max-width: 1200px;
        height: auto;
        background: #f6f9f9;
        margin: 0 auto;
        padding: 20px 30px;
    }

    
    
    /* ----- Template Contacts ----- */
    
    /* Contacts */
    
    .contacts {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 20px 30px;
    }
    
    .contacts__info {
        width: 55%;
        height: auto;
        margin: 0 auto;
    }
    
    
    /* ----- Template Price ----- */
    
    .wrapper__price {
        background: #ffffff;
    }
    
    .price {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 20px 30px;
    }
    
    /* Скриваю таблицю для малих екранів */
    .price__tableSmall {
        display: none;
    }

    /* Таблиця для великих екранів */
    .price__tableBig {
        display: block;
        width: 100%;
    }
    
    .price td,th {
        border: 1px solid #2d3950;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }
    
    .price th {
        padding: 30px;
        background: #1c9ded;
        color: #ffffff;
    }
    
    .price td {
        padding: 15px;
        color: #2d3950;
        line-height: 1.5;
    }
    
    /* Price Contact */
    .price__contact {
        padding: 20px 0;
        margin-top: 20px;
        text-align: center;
    }
    
    .price__contact p {
        font-size: 18px;
    }
    
    .price__contact h2 {
        margin: 5px 0;
    }
    
    /* btn */
    .contact__btn {
        display: block;
        width: 200px;
        padding: 20px 0;
        color: #ffffff;
        background: #1c9ded;
        border: 1px solid #1c9ded;
        margin: 20px auto 0 auto;
        cursor: pointer;
    }
    
    
    
    
    /* Template courseName */
    .wrapper__content {
        background: #ffffff;
    }
    
    .content {
        max-width: 1200px;
        height: auto;
        padding: 20px 30px;
        margin: 0 auto;
        /*border: 1px solid red;*/
    }
    
    .content__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .content__description img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-right: 75px;
    }
    
    
    /* content Programs */
    .content__programs {
        margin-top: 50px;   
    }
    
    .content__programs ol {
        width: 50%;
        margin: 0 auto;
    }
    
    /* content Price */
    
    .content_price {
        margin-top: 50px;  
        padding: 20px 0;
    }
    
    .price__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .price__info figure {
        width: 24%;
        text-align: center;
    }
    
    .price__info figure p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .price__info figure i {
        font-size: 50px;
        color: #2d3950;
    }
    
    .price__info figure i:hover {
        color: #1c9ded;
    }
    
    .price__info figure h3 {
        margin-top: 10px;
        font-size: 32px;
        color: #1c9ded;
    }
    
    
    /* content oclock */
    .content__oclock {
        margin-top: 50px;  
        padding: 20px 0;
    }
    
    /* Таблиця для малих екранів  */
    .oclock__tableSmall {
        display: none;
    }
    
    /* Таблиця для великих екранів */
    .oclock__tableBig {
        display: table;
        width: 100%;
    }
    
    .oclock__tableBig td,th {
        border: 1px solid #2d3950;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .oclock__tableBig th {
        padding: 25px;
        background: #1c9ded;
        color: #ffffff;
    }

    .oclock__tableBig td {
        padding: 15px;
        color: #2d3950;
        line-height: 1.5;
    }
    
    
    /* content details */
    .content__details {
        margin-top: 50px; 
        padding: 20px 0;
    }
    
    .details__info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .details__info figure {
        width: 15%;
        text-align: center;
    }
    
    .details__info figure div {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    
    .info_img1 {
        background: url(../img/oclock_details.png) no-repeat;
    }
    
    .info_img2 {
        background: url(../img/prog_details.png) no-repeat;
    }
    
    .info_img3 {
        background: url(../img/serteficat_details.png) no-repeat;
    }
    
    
    
    
    /* Template newsName */
    .newsName {
        max-width: 1200px;
        height: auto;
        padding: 20px 30px;
        margin: 0 auto;
    }
    
    .newsName__titleImg {
        display: block;
        width: 50%;
        height: 300px;
        margin: 0 auto 40px auto;
    }
    
    .newsName__infoNews {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 50px 0;
    }
    
    .newsName__infoNews img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 30px;
    }
    
    .infoNews__title {
        font-size: 18px;
        color: #2d3950;
        font-weight: bold;
        margin-bottom: 10px;
    }
}