@media screen and (min-width:320px) and (max-width:479px){
    
    .wrapper {
        max-width: 479px;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
    }
    
    
    /* Course */
    .course div {
        display: flex;
        flex-direction: column;
    }

    .course__school {
        width: 100%;
        height: auto;
        margin: 20px 0;
        background: #f6f9f9;
        padding: 15px 0;
        overflow: hidden;
        cursor: pointer;
    }
    
    
    /* News */
    
    .data__img {
        width: 100%;
        height: 200px;

        border: 1px solid blue;
    }
    
    
}