@media screen and (min-width:768px) and (max-width:991px){

    .wrapper {
        max-width: 991px;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
    }


    h2 {
        text-transform: uppercase;
        color: #2d3950;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
    }

    /* Header */
    
    .header {
        min-height: 52px;
        background: #f6f9f9;
        padding: 20px 30px 0 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    
    .header__logo {
        display: block;
        width: 85px;
        height: 30px;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
        color: #2d3950;
    }
    
    .header__toggle {
        display: none;
    }
    
    
    /* menu */

    .header__menu {
        width: 70%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .header__menu li {
        list-style-type: none;
        padding: 10px;
        border-top: none;
    }

    .header__menu li:last-child {
        border-bottom: none;
    }

    .header__menu li:hover a {
        color: #1c9ded; 
    }

    .header__menu a {
        text-transform: uppercase;
    }
    
    
    /* Banner */

    .banner {
        height: 450px;
        background: url(../img/banner.jpg) no-repeat;
        background-size: cover;
    }

    .banner__logo {
        width: 150px;
        height: auto;
        margin: 0 auto;
        padding: 70px 0;
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }

    .banner__title,
    .banner__phone {
        width: 400px;
        height: auto;
        margin: 0 auto;
        color: #ffffff;
        text-align: center;
    }

    .banner__title {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .banner__phone {
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    
    /* Advantages */

    .advantages div {
        display: flex;
        justify-content: space-between;
    }
    
    
    /* Course */
    .course div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .course__school {
        width: 30%;
        height: auto;
        margin: 20px 0;
        background: #f6f9f9;
        padding: 15px 0;
        overflow: hidden;
        cursor: pointer;
    }
    
    

    /* questionAnswer */
  
    .questionAnswer {
        height: auto;
        background: #f6f9f9;
        padding: 40px 150px;
    }
    
    .questionAnswer__read {
        background: #f6f9f9;
        margin-bottom: 20px;
    }
    
    table {
        background: white;
    }
    
    .read__answer {
        background: white;
        border: 1px solid #2d3950;
        padding: 10px 20px;
        color: #2d3950;
        line-height: 1.5;
        display: none;
    }
    
    
    /* News */

    .news__data {
        width: 30%;
        height: auto;
        margin: 0;
        cursor: pointer;

        border: 1px solid red;
    }
    
    .data__img {
        width: 100%;
        height: 150px;

        border: 1px solid blue;
    }


    /* Map */
    
    .map iframe {
        width: 100%;
        height: 400px;
    }
    
    
    /* Footer Top */

    .footerTop {
        height: auto;
        background: #2d3950;
        padding: 40px 30px;
        display: flex;
        justify-content: space-around;
    }
    
    .location__img {
        width: 100%;
        height: 50px;
        background: url(../img/footer-icon1.png) no-repeat 50% 50%;
        background-size: cover;
        margin: 0 auto 20px auto;
    }

    .phone__img {
        width: 100%;
        height: 50px;
        background: url(../img/footer-icon2.png) no-repeat 50% 50%;
        background-size: cover;
        margin: 0 auto 20px auto;
    }
    
    
    /* ----- Template Price ----- */

    .wrapper__price {
        background: #ffffff;
    }

    .price {
        max-width: 991px;
        height: auto;
        margin: 0 auto;
        padding: 20px 30px;
    }

    /* Скриваю таблицю для малих екранів */
    .price__tableSmall {
        display: none;
    }
    
    /* Таблиця для великих екранів */
    .price__tableBig {
        display: block;
        width: 100%;
    }

    .price td,th {
        border: 1px solid #2d3950;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .price th {
        padding: 25px;
        background: #1c9ded;
        color: #ffffff;
    }

    .price td {
        padding: 15px;
        color: #2d3950;
        line-height: 1.5;
    }

    /* Price Contact */
    .price__contact {
        padding: 20px 0;
        margin-top: 20px;
        text-align: center;
    }

    .price__contact p {
        font-size: 18px;
    }

    .price__contact h2 {
        margin: 5px 0;
    }

    /* btn */
    .contact__btn {
        display: block;
        width: 200px;
        padding: 20px 0;
        color: #ffffff;
        background: #1c9ded;
        border: 1px solid #1c9ded;
        margin: 20px auto 0 auto;
        cursor: pointer;
    }
    

}