header,
footer,
aside,
article,
figure,
figcaption {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-width: 240px;
    max-width: 319px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

a {
    text-decoration: none;
    color: #2d3950;
}

h2 {
    text-transform: uppercase;
    color: #2d3950;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

p,ol li {
    color: #999999;
    line-height: 1.5;
}

strong {
    color: #2d3950;
    font-weight: bold;
}

/* Header */
.header {
    min-height: 52px;
    background: #f6f9f9;
    padding: 20px 30px 0 30px;
    position: relative;
}

.header__logo {
    display: block;
    width: 120px;
    height: 30px;
    background: url(../img/logo.png) no-repeat;
    background-size: cover;
    text-decoration: none;
}

.header__toggle {
    width: 40px;
    height: 35px;
    background: #2d3950;
    border-radius: 10%;
    cursor: pointer;
    text-align: center;
    line-height: 43px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.header__toggle  i {
    font-size: 26px;
    color: #f6f9f9;
}

/* menu */

.header__menu {
    margin: 20px 0;
    display: none;
}

.header__menu li {
    list-style-type: none;
    padding: 10px;
    border-top: 1px solid #2d3950;
}

.header__menu li:last-child {
    border-bottom: 1px solid #2d3950;
}

.header__menu li:hover a {
/*    color: #3498db; */
    color: #1c9ded; 
}

.header__menu a {
    text-transform: uppercase;
}


/* Small menu position absolute*/

.header__menu2 {
    width: 100%;
    padding: 10px 0;
    display: none;
    position: absolute;
    background: #f6f9f9;
}

.header__menu2 li {
    list-style-type: none;
    padding: 10px 30px;
    border-top: 1px solid #2d3950;
}

.header__menu2 li:last-child {
    border-bottom: 1px solid #2d3950;
}

.header__menu2 li:hover a {
    /*    color: #3498db; */
    color: #1c9ded; 
}

.header__menu2 a {
    text-transform: uppercase;
}


/* Banner */

.banner {
    height: 250px;
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
}

.banner__logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.banner__title,
.banner__phone {
    width: 200px;
    height: auto;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
}

.banner__title {
    font-size: 20px;
    padding-bottom: 10px;
}

.banner__phone {
    font-size: 16px;
}

.banner__phone i {
    margin-right: 5px;
}

.banner__course {
    display: block;
    width: 140px;
    margin: 30px auto 0 auto;
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #1c9ded; 
    background: #1c9ded;
}

/*.banner__course:hover {
    background: #1c9ded;
}*/


/* Advantages */

.advantages {
    height: auto;
    background: #f6f9f9;
    padding: 40px 30px;
}

.advantages h2 {
    margin-bottom: 10px;
}

.advantages__block {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.advantages__block div {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 3px solid #1c9ded;
}

.block__hat {
    background: url(../img/hat.png) no-repeat;  
}

.block__glasses {
    background: url(../img/glasses.png) no-repeat;
}

.block__book {
    background: url(../img/book.png) no-repeat;
}

.block__users {
    background: url(../img/users.png) no-repeat;
}

.block__pencil {
    background: url(../img/pencil.png) no-repeat;
}

.block__laptop {
    background: url(../img/laptop.png) no-repeat;
}

.advantages__block p {
    text-align: center;
}


/* Course */

.course {
    height: auto;
    background: #ffffff;
    padding: 40px 30px;
}

.course__school {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px auto;
    background: #f6f9f9;
    padding: 15px 0;
    overflow: hidden;
    cursor: pointer;
}

.course__school:hover .school__title {
    color: #2d3950;
    font-weight: bold;
}

.course div {
    display: flex;
    /*flex-wrap: wrap;
    justify-content: space-between;*/
    flex-direction: column;
}

.school__img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 0;
    display: block;
}

.course__school figcaption {
    padding-top: 10px;
}

.school__title {
    text-align: center;
}

/* questionAnswer */

.questionAnswer {
    height: auto;
    background: #f6f9f9;
    padding: 40px 30px;
}

.questionAnswer__read {
    background: white;
    margin-bottom: 20px;
}

.questionAnswer__read table {
    width: 100%;
}

.questionAnswer__read th {
    border: 1px solid #2d3950;
    vertical-align: middle;
}

.questionAnswer__read th:nth-child(1) {
    width: 25px;
    background: #2d3950;
    color: white;
}

.questionAnswer__read th:nth-child(3) {
    width: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #999999;
    cursor: pointer;
    transition: 0.5s;
}

.questionAnswer__read table:hover th:nth-child(3) {
    background: #1c9ded;
    border: 1px solid #1c9ded;
    color: #2d3950;
}

.questionAnswer__read th:nth-child(2) {
    padding: 10px 0;
    color: #999999;
    line-height: 1.5;
    cursor: pointer;
}

.read__answer {
    border: 1px solid #2d3950;
    padding: 10px 20px;
    color: #2d3950;
    line-height: 1.5;
    display: none;
}



/* News */ 

.news {
    height: auto;
    padding: 40px 30px;
}

.news__data {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 50px auto;
    cursor: pointer;
}

.data__img {
    width: 100%;
    height: 120px;
}

.news__data div {
    padding: 10px;
    background: #2d3950;
}

.news__data p {
    text-align: center;
    color: white;
}

.data__more {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #1c9ded; 
    transition: 0.5s;
}

.news__data:hover .data__more {
    background: #1c9ded;
}

/* AboutUs */

.aboutUs {
    height: auto;
    padding: 40px 30px;
    background: #f6f9f9;
}

.aboutUs p {
    text-align: justify;
}


/* Map */

.map {
    height: auto;
}

.map iframe {
    width: 100%;
    height: 300px;
}


/* Footer Top */

.footerTop {
    height: auto;
    background: #2d3950;
    padding: 40px 30px;
}

.location__img {
    width: 100%;
    height: 50px;
    background: url(../img/footer-icon1.png) no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 20px;
}

.footerTop p {
    text-align: center;
}

.phone__img {
    width: 100%;
    height: 50px;
    background: url(../img/footer-icon2.png) no-repeat 50% 50%;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Footer Bottom */

.footerBottom {
    height: auto;
    background: #f6f9f9;
    padding: 20px 30px;
}

.footerBottom p {
    font-size: 12px;
}


/* To UP */

.wrapper__up {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.8;
    background: url(../img/footer-up.png) no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.wrapper__up:hover {
    opacity: 1;
}



/* ----- Template Contacts ----- */

/* Contacts */

.contacts {
    height: auto;
    margin: 0 auto;
    padding: 20px 30px;
}

.contacts__info {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.contacts__info p {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: justify;
}

#info__email {
    text-align: left;
}

.contacts__info p span {
    margin-left: 33px;
}

.contacts__info i {
    font-size: 22px;
    color: #1c9ded;
    margin-right: 10px;
}

#map iframe {
    width: 100%;
    height: 400px;
}



/* ----- Template Price ----- */

.wrapper__price {
    background: #ffffff;
}

.price {
    height: auto;
    margin: 0 auto;
    padding: 20px 30px;
}

/* Скриваю таблицю для великих екранів */
.price__tableBig {
    display: none;
}

/* Таблиця для малих екранів */
.price__tableSmall {
    width: 100%; 
    margin-bottom: 40px;
}

.price td,th {
    border-top: 1px solid #2d3950;
    border-left: 1px solid #2d3950;
    border-right: 1px solid #2d3950;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.price td:last-child {
    border-bottom: 1px solid #2d3950;
} 

.price__tableSmall tr {
    display: flex;
    flex-direction: column;
}

.price__tableSmall th {
    padding: 25px;
    background: #1c9ded;
    color: #ffffff;
}

.price__tableSmall td {
    padding: 15px;
    color: #2d3950;
    line-height: 1.5;
}

.price__tableSmall td span {
    color: #999999;
}

/* Price Contact */
.price__contact {
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
}

.price__contact p {
    font-size: 18px;
}

.price__contact h2 {
    margin: 5px 0;
}

/* btn */
.contact__btn {
    display: block;
    width: 200px;
    padding: 20px 0;
    color: #ffffff;
    background: #1c9ded;
    border: 1px solid #1c9ded;
    margin: 20px auto 0 auto;
    cursor: pointer;
}




/* Template courseName */
.wrapper__content {
    background: #ffffff;
}

.content {
    height: auto;
    padding: 20px 30px;
    margin: 0 auto;
}

/* content description */

.content__description {
    display: flex;
    flex-direction: column;
}

.content__description img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto 30px auto;
}


/* content Programs */
.content__programs {
    margin-top: 50px;   
}

.content__programs ol {
    width: 85%;
    margin: 0 auto;
}

/* content Price */

.content_price {
    margin-top: 50px;  
    padding: 20px 0;
}

.price__info {
    display: flex;
    flex-direction: column
}

.price__info figure {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.price__info figure p {
    margin-bottom: 10px;
}

.price__info figure i {
    font-size: 40px;
    color: #2d3950;
}

.price__info figure i:hover {
    color: #1c9ded;
}

.price__info figure h3 {
    margin-top: 10px;
    font-size: 32px;
    color: #1c9ded;
}


/* content oclock */
.content__oclock {  
    padding: 20px 0;
}

/* Таблиця для великих екранів */
.oclock__tableBig {
    display: none;
}

/* Таблиця для малих екранів  */
.oclock__tableSmall {
    display: table;
    width: 100%;
}

.oclock__tableSmall tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.oclock__tableSmall td,th {
    border-top: 1px solid #2d3950;
    border-left: 1px solid #2d3950;
    border-right: 1px solid #2d3950;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.oclock__tableSmall td:last-child {
    border-bottom: 1px solid #2d3950;
} 

.oclock__tableSmall td {
    padding: 15px;
    color: #2d3950;
    line-height: 1.5;
}

.oclock__tableSmall td span {
    color: #999999;
}

/* content details */
.content__details {
    padding: 20px 0;
}

.details__info {
    display: flex;
    flex-direction: column;
}

.details__info figure {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.details__info figure div {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.info_img1 {
    background: url(../img/oclock_details.png) no-repeat;
}

.info_img2 {
    background: url(../img/prog_details.png) no-repeat;
}

.info_img3 {
    background: url(../img/serteficat_details.png) no-repeat;
}




/* Template newsName */
.newsName {
    height: auto;
    padding: 20px 30px;
    margin: 0 auto;
}

.newsName__titleImg {
    display: block;
    width: 100%;
    height: 150px;
    margin: 0 auto 40px auto;
}

.newsName__infoNews {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
}

.newsName__infoNews img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 10px auto;
}

.infoNews__title {
    font-size: 18px;
    color: #2d3950;
    font-weight: bold;
    margin-bottom: 10px;
}
