header,
footer,
aside,
article,
figure,
figcaption {
    display: block;
}

body {
    font-family: sans-serif;
}

.wrapper {
    width: 320px;
    height: auto;
    margin: 0 auto;
    border: 1px solid red;
    box-sizing: border-box;
    position: relative;
}

a {
    text-decoration: none;
    color: #2d3950;
}

h2 {
    text-transform: uppercase;
    color: #2d3950;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

p {
    color: #999999;
    line-height: 1.5;
}

strong {
    color: #2d3950;
    font-weight: bold;
}

/* Header */
.header {
    min-height: 52px;
    background: #f6f9f9;
    padding: 20px 20px 0 20px;
    position: relative;
}

.header__logo {
    display: block;
    width: 75px;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: #2d3950;
}

.header__toggle {
    width: 40px;
    height: 35px;
    background: #2d3950;
    border-radius: 10%;
    cursor: pointer;
    text-align: center;
    line-height: 43px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.header__toggle  i {
    font-size: 26px;
    color: #f6f9f9;
}

/* menu */

.header__menu {
    margin: 20px 0;
    display: none;
}

.header__menu li {
    list-style-type: none;
    padding: 10px;
    border-top: 1px solid #2d3950;
}

.header__menu li:last-child {
    border-bottom: 1px solid #2d3950;
}

.header__menu li:hover a {
/*    color: #3498db; */
    color: #1c9ded; 
}

.header__menu a {
    text-transform: uppercase;
}


/* Small menu position absolute*/

.header__menu2 {
    width: 318px;
    padding: 10px 0;
    display: none;
    position: absolute;
    background: #f6f9f9;
}

.header__menu2 li {
    list-style-type: none;
    padding: 10px;
    border-top: 1px solid #2d3950;
}

.header__menu2 li:last-child {
    border-bottom: 1px solid #2d3950;
}

.header__menu2 li:hover a {
    /*    color: #3498db; */
    color: #1c9ded; 
}

.header__menu2 a {
    text-transform: uppercase;
}


/* Banner */

.banner {
    height: 250px;
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
}

.banner__logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.banner__title,
.banner__phone {
    width: 200px;
    height: auto;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
}

.banner__title {
    font-size: 20px;
    padding-bottom: 10px;
}

.banner__phone {
    font-size: 16px;
}

.banner__phone i {
    margin-right: 5px;
}

.banner__course {
    display: block;
    width: 140px;
    margin: 30px auto 0 auto;
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #1c9ded; 
    background: #1c9ded;
}

/*.banner__course:hover {
    background: #1c9ded;
}*/


/* Advantages */

.advantages {
    height: auto;
    background: #f6f9f9;
    padding: 40px 20px;
}

.advantages h2 {
    margin-bottom: 10px;
}

.advantages__block {
    width: 200px;
    height: 180px;
    margin: 0 auto;
}

.advantages__block div {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 3px solid #1c9ded;
}

.block__hat {
    background: url(../img/hat.png) no-repeat;  
}

.block__glasses {
    background: url(../img/glasses.png) no-repeat;
}

.block__book {
    background: url(../img/book.png) no-repeat;
}

.block__users {
    background: url(../img/users.png) no-repeat;
}

.block__pencil {
    background: url(../img/pencil.png) no-repeat;
}

.block__laptop {
    background: url(../img/laptop.png) no-repeat;
}

.advantages__block p {
    text-align: center;
}


/* Course */

.course {
    height: auto;
    background: #ffffff;
    padding: 40px 20px;
}

.course__school {
    width: 200px;
    height: auto;
    margin: 20px auto;
    background: #f6f9f9;
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
    
    border: 1px solid red;
}

.course__school:hover .school__title {
    color: #2d3950;
    font-weight: bold;
}

.school__img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
    
    border: 1px solid blue;
}

.course__school figcaption {
    padding-top: 10px;
}

.school__title {
    text-align: center;
}

/* questionAnswer */

.questionAnswer {
    height: auto;
    background: #f6f9f9;
    padding: 40px 20px;
}

.questionAnswer__read {
    background: white;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

th {
    border: 1px solid #2d3950;
    vertical-align: middle;
}

th:nth-child(1) {
    width: 25px;
    background: #2d3950;
    color: white;
}

th:nth-child(3) {
    width: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #999999;
    cursor: pointer;
    transition: 0.5s;
}

table:hover th:nth-child(3) {
    background: #1c9ded;
    border: 1px solid #1c9ded;
    color: #2d3950;
}

th:nth-child(2) {
    padding: 10px 0;
    color: #999999;
    line-height: 1.5;
    cursor: pointer;
}

.read__answer {
    border: 1px solid #2d3950;
    padding: 10px 20px;
    color: #2d3950;
    line-height: 1.5;
    display: none;
}



/* News */ 

.news {
    height: auto;
    padding: 40px 20px;
}

.news__data {
    width: 200px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    
    border: 1px solid red;
}

.data__img {
    width: 100%;
    height: 120px;
    
    border: 1px solid blue;
}

.news__data figcaption {
    padding: 10px;
    background: #2d3950;
}

.news__data p {
    text-align: center;
    color: white;
}

.data__more {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #1c9ded; 
    transition: 0.5s;
}

.news__data:hover .data__more {
    background: #1c9ded;
}

/* AboutUs */

.aboutUs {
    height: auto;
    padding: 40px 20px;
    background: #f6f9f9;
}

.aboutUs p {
    text-align: justify;
}


/* Map */

.map {
    height: auto;
}

.map iframe {
    width: 100%;
    height: 300px;
}


/* Footer Top */

.footerTop {
    height: 400px;
    background: #2d3950;
    padding: 40px 20px;
}

.location__img {
    width: 100%;
    height: 35px;
    background: url(../img/footer-icon1.png) no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.footerTop p {
    text-align: center;
}

.phone__img {
    width: 100%;
    height: 35px;
    background: url(../img/footer-icon2.png) no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}


/* Footer Bottom */

.footerBottom {
    height: auto;
    background: #f6f9f9;
    padding: 20px;
}

.footerBottom p {
    font-size: 12px;
}