<div class="wrapper">
    <header class="header">
        <a href="#" class="header__logo">Logos</a>
        <div class="header__toggle" ng-click="mainCtrl.menu()"><i class="fa fa-bars"></i></div>
        <nav class="header__menu">
            <li><a href="">Головна</a></li>
            <li><a href="">Курси</a></li>
            <li><a href="">Розклад</a></li>
            <li><a href="">Ціни</a></li>
            <li><a href="">Контакти</a></li>
        </nav>
    </header>
    
    <figure class="banner">
        
    </figure>
    
</div>