<div class="wrapper">
    <header class="header">
        <a href="#" class="header__logo">Logos</a>
        <div class="header__toggle" ng-click="mainCtrl.menu()"><i class="fa fa-bars"></i></div>
        <nav class="header__menu">
            <li><a href="">Головна</a></li>
            <li><a href="">Курси</a></li>
            <li><a href="">Розклад</a></li>
            <li><a href="">Ціни</a></li>
            <li><a href="">Контакти</a></li>
        </nav>
    </header>
    
    <figure class="banner">
        <div class="banner__logo">Logos</div>
        <div class="banner__title">Навчайся з кращими!</div>
        <div class="banner__phone"><i class="fa fa-phone"></i>(067) 990-37-93</div>
        <a href="" class="banner__course">Перелік курсів</a>
    </figure>
    
    <article class="advantages">
        <h2>Наші переваги</h2>
        <figure class="advantages__block">
            <div class="block__hat"></div>
            <p>Максимально <strong>доступне</strong> навчання для кожного</p>
        </figure>
        <figure class="advantages__block">
            <div class="block__glasses"></div>
            <p>Наші викладачі - <strong>кваліфіковані</strong> фахівці</p>
        </figure>
        <figure class="advantages__block">
            <div class="block__book"></div>
            <p>Максимальна <strong>доступність</strong> навчальних матеріалів</p>
        </figure>
        <figure class="advantages__block">
            <div class="block__users"></div>
            <p>Навчальні <strong>групи</strong> від 5 до 15 осіб</p>
        </figure>
        <figure class="advantages__block">
            <div class="block__pencil"></div>
            <p>Перше заняття пробне та  <strong>безкоштовне</strong></p>
        </figure>
        <figure class="advantages__block">
            <div class="block__laptop"></div>
            <p>Сприятлива атмосфера і <strong>комфортні</strong> умови для навчання</p>
        </figure>
    </article>
    
    <article class="course">
        <h2>Напрями навчання</h2>
        <figure class="course__school">
            
        </figure>
    </article>
    
    <article class="questionAnswer">
        <h2>Питання та відповіді</h2>
        <div class="questionAnswer__read" ng-repeat="i in mainCtrl.arrQuestionAnswer">
            <table>
                <tr>
                    <th>{{i.id}}</th>
                    <th ng-click="mainCtrl.questionAnswer($index)">{{i.question}}</th>
                    <th ng-click="mainCtrl.questionAnswer($index)">+</th>
                </tr>
            </table>
            <div class="read__answer">{{i.answer}}</div>
        </div>
    </article>
    
</div>